.gmd-09 {
    #main {
        &:has(.gmd-is-sticky) {
            .collection__facets-scroller {
                // top: 366px !important;
                top: 306px !important;
            }
        }

        .gmd-custom-filter-text {
            padding: 25px 0;
        }

        .collection__facets-scroller:has(.collection__top-filter) {
            margin-top: -75px;
        }

        // .collection__top-bar {
        //     .collection__top-filter {
        //         visibility: hidden;
        //     }
        // }

        // .gmd-space-added {
        // }

        .collection__sub {
            position: sticky;
            top: 219px;
            background: #FFF;
            z-index: 9;

            &.gmd-is-sticky {
                border-bottom: 1px solid #EDEDED;
            }

            @media(max-width: 999px) {
                position: unset;
            }
        }
    }
}