.gmd-12 #custom-sticky-atc {
  display: none !important;
}
.gmd-12 .gmd-active-ats#launcher, .gmd-12 .gmd-active-ats#to-top, .gmd-12 .gmd-active-ats.cky-revisit-bottom-left {
  bottom: 100px !important;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-active-ats#launcher, .gmd-12 .gmd-active-ats#to-top, .gmd-12 .gmd-active-ats.cky-revisit-bottom-left {
    bottom: 150px !important;
  }
}
.gmd-12 .gmd-active-ats {
  bottom: 180px !important;
}
.gmd-12 .gmd-sticky-ats-wrapper {
  display: none;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 40;
  background: #FFF;
  box-shadow: 0 -12px 20px 0 rgba(0, 0, 0, 0.06);
}
.gmd-12 .gmd-sticky-ats-wrapper.gmd-active {
  display: block;
}
.gmd-12 .gmd-sticky-ats-wrapper .woocommerce-Price-currencySymbol {
  display: none;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-container {
  padding: 8px 20px;
  max-width: 1305px;
  width: 100%;
  margin: 0 auto;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px 16px;
  width: 100%;
  min-width: 0;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .image-wrapper {
  max-width: 91px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .image-wrapper {
    max-width: 73px;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .image-wrapper img {
  max-height: 64px;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .image-wrapper img {
    max-height: 58px;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper {
  overflow: hidden;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper {
    flex: 1;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-product-info-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-product-info-wrapper .gmd-product-name {
  color: #000;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-product-info-wrapper .gmd-product-name {
    font-size: 18px;
    line-height: 120%;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price {
  margin-top: -2px;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price ins {
  text-decoration: none;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price del {
  font-size: 28px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price del {
    font-size: 24px;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price .price {
  margin-bottom: 0;
  color: #000;
  font-weight: 700;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price .price .amount {
  font-size: 28px;
  line-height: 42px;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price .price .amount {
    font-size: 24px;
    line-height: 36px;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price .price .woocommerce-price-suffix {
  font-size: 12px;
  line-height: 18px;
  margin-left: 4px;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-product-wrapper .gmd-text-wrapper .gmd-price-stock-wrapper .gmd-price .price .wcsatt-sub-options {
  display: none;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper {
  max-width: 267px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper {
    max-width: 100%;
  }
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper .single_add_to_cart_button {
  border-radius: 4px;
  background-color: #7D5A4F !important;
  padding: 11px;
  width: 100%;
  color: #FFF !important;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  height: auto !important;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper .single_add_to_cart_button::before {
  transform: translate(-50%, -250%);
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper .single_add_to_cart_button:hover {
  color: transparent !important;
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper .single_add_to_cart_button:hover::before {
  transform: translate(-50%, -50%);
}
.gmd-12 .gmd-sticky-ats-wrapper .gmd-ats-content-wrapper .gmd-btn-wrapper .added_to_cart {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  bottom: unset;
}/*# sourceMappingURL=style.css.map */