body.ribbon-test {
  /* WRAPPER */
  /* LEFT IMAGE AREA */
  /* RIGHT ACCORDION */
  /* ACCORDION ITEM */
  /* HEADER */
  /* BODY */
  /* ACTION BUTTONS */
}
body.ribbon-test .region-banner .block--fp_splash .fp_splash-bg {
  background-image: url("https://res.cloudinary.com/dcsohyepb/image/upload/v1766592828/Desktop_Hero_Background_g8uuel.png") !important;
  background-position: center center !important;
}
body.ribbon-test .region-banner .container {
  padding-bottom: 46px;
  margin: 24px auto 17px auto;
  max-width: 1320px;
  width: 100%;
}
body.ribbon-test .region-banner .container .row h1.block-title-huge {
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.96px;
}
body.ribbon-test .region-banner .container .row .review-wrapper {
  max-width: 190px;
  width: 100%;
  margin-top: 27px;
}
body.ribbon-test .region-banner .container .row .field--name-field-lottie {
  display: none;
}
body.ribbon-test .region-banner .container .row .left-wrapper .old-list-content .splash-contact {
  padding: 0;
  background: none;
  margin-top: 29px;
}
body.ribbon-test .region-banner .container .row .left-wrapper .old-list-content .splash-contact input {
  display: none;
}
body.ribbon-test .region-banner .container .row .left-wrapper .old-list-content .splash-contact .btn-primary {
  position: unset;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: #C0069E;
}
body.ribbon-test .region-banner .container .row .left-wrapper .old-list-content ul {
  display: none;
}
body.ribbon-test .region-banner .container .row .left-wrapper .new-list-content {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 27px;
  margin-top: 25px;
}
body.ribbon-test .region-banner .container .row .left-wrapper .new-list-content ul {
  list-style-type: none;
  padding-left: 38px;
}
body.ribbon-test .region-banner .container .row .left-wrapper .new-list-content ul li {
  position: relative;
  margin-bottom: 20px;
}
body.ribbon-test .region-banner .container .row .left-wrapper .new-list-content ul li :before {
  content: "";
  display: block;
  height: 22px;
  width: 22px;
  background: url("https://res.cloudinary.com/dcsohyepb/image/upload/v1766592824/Frame_1000003327_xuvwhc.png") 100% 100%;
  position: absolute;
  left: -38px;
  top: 3px;
}
body.ribbon-test .region-banner .container .row .ribbon-splash-lottie {
  left: 47px;
  top: 249px;
  width: 151.5%;
}
body.ribbon-test .region-banner .trusted .field {
  padding-right: 20px;
}
body.ribbon-test .region-banner .trusted .field--item:not(.trusted-intro) {
  display: none;
}
body.ribbon-test .region-banner .trusted .field .trusted-intro {
  position: relative;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  line-height: 130%;
}
body.ribbon-test .region-banner .trusted .field .trusted-intro:before {
  content: "";
  display: block;
  width: 1px;
  height: 47px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -78px;
  top: -15px;
}
body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper {
  max-width: 932px;
  width: 100%;
}
body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.tablet {
  display: none;
}
body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.mobile {
  display: none;
}
body.ribbon-test .region-banner .block--ticker {
  display: none;
}
body.ribbon-test .main-container {
  display: none;
}
body.ribbon-test .universal {
  display: none;
}
body.ribbon-test .accordion-section {
  padding: 121px 0;
}
body.ribbon-test .accordion-section .container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
body.ribbon-test .accordion-section .block-title {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: -0.88px;
}
body.ribbon-test .accordion-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 54px;
}
body.ribbon-test .left-accordion-wrapper {
  position: relative;
  max-width: 585px;
  width: 100%;
}
body.ribbon-test .left-accordion-wrapper .accordion-image {
  display: none;
  transition: opacity 0.4s ease;
}
body.ribbon-test .left-accordion-wrapper .accordion-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
body.ribbon-test .left-accordion-wrapper .accordion-image.active {
  display: block;
}
body.ribbon-test .right-accordion-wrapper {
  flex: 1;
}
body.ribbon-test .right-accordion-wrapper .accordion-image {
  display: none;
}
body.ribbon-test .accordion {
  padding: 14px 20px;
}
body.ribbon-test .accordion.active {
  padding: 19px 20px;
  border-radius: 10px;
  border: 1px solid #E7ECF1;
  box-shadow: 0 2px 12px 0 #E8E8E8;
  margin-top: 2px;
}
body.ribbon-test .accordion.active .accordion-header {
  color: #c4008f;
  margin-bottom: 12px;
}
body.ribbon-test .accordion.active .accordion-header .arrow {
  transform: rotate(180deg);
}
body.ribbon-test .accordion.active .accordion-header .arrow svg path {
  fill: #C0069E;
}
body.ribbon-test .accordion.active .accordion-body {
  display: block;
}
body.ribbon-test .accordion .accordion-header {
  font-weight: 700;
  font-family: "Gotham A", "Gotham B", Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  /* 28px */
  letter-spacing: -0.4px;
  color: #666;
}
body.ribbon-test .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #222;
}
body.ribbon-test .accordion-body {
  display: none;
}
body.ribbon-test .accordion-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  color: #666;
}
body.ribbon-test .actions {
  display: flex;
  gap: 10px;
}
body.ribbon-test .actions .btn {
  padding: 10px 38px;
  border-radius: 999px;
  border: 2px solid #FF007F;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.3s ease;
  margin: 0;
}
body.ribbon-test .actions .btn:hover {
  background: rgba(196, 0, 143, 0.1);
}
body.ribbon-test .actions .btn-primary {
  background: #C0069E;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.ribbon-test .testimonial-section {
  background: linear-gradient(0deg, rgba(68, 10, 74, 0.7) 9.89%, rgba(68, 10, 74, 0.7) 9.9%, rgba(68, 10, 74, 0) 100%), #000;
  padding: 100px 0;
}
body.ribbon-test .testimonial-section .container {
  max-width: 1320px;
  width: 100%;
  padding: 0 100px;
}
body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow {
  height: 44px;
  width: 44px;
  background: rgba(255, 255, 255, 0.1);
}
body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--prev {
  left: 49px;
}
body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--next {
  right: 49px;
}
body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow svg path {
  fill: #FFF;
}
body.ribbon-test .testimonial-section .testimonial-wrapper {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto;
}
body.ribbon-test .testimonial-section .testimonial-card {
  padding: 50px 60px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  background: rgba(255, 255, 255, 0.1);
  min-height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer .author {
  display: flex;
  align-items: center;
  gap: 19px;
  color: #fff;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer .author-image {
  max-width: 72px;
  width: 100%;
  border-radius: 50%;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer .author strong {
  display: block;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 6px;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer .author span {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
body.ribbon-test .testimonial-section .testimonial-card .testimonial-footer .brand {
  max-width: 95px;
  width: 100%;
}
body.ribbon-test .industries {
  padding: 118px 0;
}
body.ribbon-test .industries .container {
  max-width: 1260px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  /* Tabs */
  /* Main Content */
}
body.ribbon-test .industries .container .industries-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  margin-bottom: 52px;
}
body.ribbon-test .industries .container .industries-tabs {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 6px;
  border-radius: 999px;
  border: 1.5px solid #E7ECF1;
  background: #FFF;
  box-shadow: 0 2px 12px 0 #E8E8E8;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}
body.ribbon-test .industries .container .industries-tabs.tablet {
  display: none;
}
body.ribbon-test .industries .container .industries-tabs .tab {
  display: flex;
  justify-content: center;
  max-width: 240px;
  width: 100%;
  padding: 9px 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 999px;
  border: none;
  background: transparent;
  color: #666;
}
body.ribbon-test .industries .container .industries-tabs .tab.active {
  background: rgba(192, 6, 158, 0.1);
  color: #C0069E;
}
body.ribbon-test .industries .container .swiper {
  margin-top: 48px;
}
body.ribbon-test .industries .container .industries-content {
  display: flex;
  align-items: flex-start;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper {
  flex: 1;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -0.64px;
  color: #000;
  margin-bottom: 28px;
  margin-top: 0;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper button {
  padding: 15px 36px;
  border-radius: 99px;
  background: #C0069E;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #FFF;
  margin-top: 10px;
  border: none;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .right-content-wrapper {
  flex: 1.57;
  position: relative;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .right-content-wrapper .image-wrapper {
  margin-bottom: 0;
  width: 100%;
}
body.ribbon-test .industries .container .industries-content .industries-content-wrapper .right-content-wrapper .image-wrapper img {
  width: 100%;
}
body.ribbon-test .contact-us-section {
  background: url("https://res.cloudinary.com/dcsohyepb/image/upload/v1766592828/Desktop_Above_Footer_Background_nbb3hl.png");
  padding: 120px 0;
  background-size: cover;
  background-position-x: center;
}
body.ribbon-test .contact-us-section .container .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 626px;
  width: 100%;
  margin: 0 auto;
}
body.ribbon-test .contact-us-section .container .content-wrapper .image-wrapper {
  max-width: 64px;
  width: 100%;
  margin-bottom: 30px;
}
body.ribbon-test .contact-us-section .container .content-wrapper h2 {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  letter-spacing: -0.96px;
  margin-bottom: 51px;
}
body.ribbon-test .contact-us-section .container .content-wrapper .btn-primary {
  font-family: "Roboto", sans-serif;
  padding: 16px 37px;
  border-radius: 999px;
  background: #C0069E;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
body.ribbon-test .about-us-section .container {
  max-width: 1250px;
  width: 100%;
}
body.ribbon-test .about-us-section .container .content-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 120px;
}
body.ribbon-test .about-us-section .container .content-wrapper .left-content-wrapper {
  flex: 1;
}
body.ribbon-test .about-us-section .container .content-wrapper .left-content-wrapper h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.8px;
  margin-bottom: 23px;
  margin-top: 0;
}
body.ribbon-test .about-us-section .container .content-wrapper .left-content-wrapper p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
body.ribbon-test .about-us-section .container .content-wrapper .left-content-wrapper .btn-primary {
  border-radius: 999px;
  border: 2px solid #FF007F;
  background: transparent;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 14px;
  margin-bottom: 12px;
  padding: 10px 39px;
}
body.ribbon-test .about-us-section .container .content-wrapper .right-content-wrapper {
  flex: 1.565;
}
body.ribbon-test .btn-primary {
  background: #c4008f;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

@media (max-width: 1250px) {
  body.ribbon-test .region-banner .trusted {
    padding: 0 20px;
  }
  body.ribbon-test .region-banner .trusted .field {
    flex-direction: column;
    padding-right: 0;
  }
  body.ribbon-test .region-banner .trusted .field .trusted-intro:before {
    content: none;
  }
}
@media (max-width: 799px) {
  body.ribbon-test .region-banner .block--fp_splash .fp_splash-bg {
    background-image: url("https://res.cloudinary.com/dcsohyepb/image/upload/v1766592853/Tablet_Hero_Background_dc1vaj.png") !important;
  }
  body.ribbon-test .region-banner .container {
    padding-top: 105px;
    padding-bottom: 0;
  }
  body.ribbon-test .region-banner .container .row {
    justify-content: flex-start;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap {
    padding: 0 40px;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap:not(.left-wrapper) {
    margin-top: 24px;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap .ribbon-splash-lottie {
    top: initial;
    left: -7px;
    width: 101%;
  }
  body.ribbon-test .region-banner .trusted {
    padding: 23px 40px 0 40px;
    margin: 24px auto 64px auto;
  }
  body.ribbon-test .region-banner .trusted .field {
    row-gap: 30px;
  }
  body.ribbon-test .region-banner .trusted .field--item {
    padding-left: 0;
  }
  body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.desktop {
    display: none;
  }
  body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.tablet {
    display: block;
  }
  body.ribbon-test .accordion-section {
    padding: 73px 0;
  }
  body.ribbon-test .accordion-section .container {
    padding: 0 40px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .left-accordion-wrapper {
    display: none;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active {
    padding: 17px 19px;
    margin-bottom: 4px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .accordion-header {
    margin-bottom: 15px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .actions {
    margin-top: -3px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .accordion-image {
    display: block;
    margin-top: 40px;
  }
  body.ribbon-test .testimonial-section {
    padding: 72px 0;
  }
  body.ribbon-test .testimonial-section .container {
    padding: 0 40px;
    margin-bottom: 51px;
  }
  body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--prev {
    top: 101.7%;
    left: 46.1%;
    transform: translateX(-50%);
  }
  body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--next {
    top: 101.7%;
    right: 40.2%;
    transform: translateX(-50%);
  }
  body.ribbon-test .industries {
    padding: 70px 0;
    overflow: hidden;
  }
  body.ribbon-test .industries .container {
    padding: 0 40px;
  }
  body.ribbon-test .industries .container .industries-title {
    margin-bottom: 53px;
  }
  body.ribbon-test .industries .container .industries-tabs {
    box-shadow: none;
    border: none;
    position: relative;
  }
  body.ribbon-test .industries .container .industries-tabs.desktop {
    display: none;
  }
  body.ribbon-test .industries .container .industries-tabs.tablet {
    display: flex;
  }
  body.ribbon-test .industries .container .industries-tabs.tablet::before {
    content: "";
    display: block;
    width: calc(100% + 75px);
    position: absolute;
    height: 60px;
    border-top: 1px solid #E7ECF1;
    border-bottom: 1px solid #E7ECF1;
    top: -2px;
  }
  body.ribbon-test .industries .container .industries-tabs .tab {
    border-radius: 999px;
    border: 1.5px solid #E7ECF1;
    max-width: 219px;
    padding: 7px 0;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper {
    display: block;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper .image-wrapper {
    margin-top: 40px;
  }
  body.ribbon-test .actions {
    gap: 8px;
  }
  body.ribbon-test .actions .btn {
    padding: 10px 39px;
  }
  body.ribbon-test .about-us-section .container {
    padding: 0 40px;
  }
  body.ribbon-test .about-us-section .container .content-wrapper {
    margin-top: 69px;
    margin-bottom: 30px;
    display: block;
  }
  body.ribbon-test .about-us-section .container .content-wrapper .right-content-wrapper {
    margin-top: 28px;
  }
  body.ribbon-test .about-us-section .container .content-wrapper .right-content-wrapper .image-wrapper {
    margin-bottom: 0;
  }
  body.ribbon-test .about-us-section .container .content-wrapper .right-content-wrapper .image-wrapper img {
    border-radius: 20px;
  }
}
@media (max-width: 767px) {
  body.ribbon-test .region-banner .container {
    padding-top: 89px;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap {
    padding: 0 20px;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap h1.block-title-huge {
    font-size: 36px;
    line-height: 43.2px;
    letter-spacing: -0.72px;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap .old-list-content .splash-contact .btn-primary {
    max-width: 100%;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap:not(.left-wrapper) {
    margin-top: 0;
  }
  body.ribbon-test .region-banner .container .row .row-inner-wrap .ribbon-splash-lottie {
    left: -3px;
  }
  body.ribbon-test .region-banner .trusted {
    padding: 0 20px 0 20px;
    padding-top: 0;
    margin: 20px auto 48px auto;
  }
  body.ribbon-test .region-banner .trusted .field {
    row-gap: 15px;
  }
  body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.tablet {
    display: none;
  }
  body.ribbon-test .region-banner .trusted .field .hero-client-images-wrapper.mobile {
    display: block;
  }
  body.ribbon-test .accordion-section {
    padding: 46px 0;
  }
  body.ribbon-test .accordion-section .container {
    padding: 0 20px;
  }
  body.ribbon-test .accordion-section .container .block-title {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
    margin-bottom: 0;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper {
    margin-top: 32px;
    margin-bottom: -6px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion {
    margin-bottom: 3px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active {
    margin-top: 0;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .accordion-header {
    margin-bottom: 14px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .accordion-body .actions .btn-primary {
    padding: 12px 39px;
  }
  body.ribbon-test .accordion-section .container .accordion-wrapper .accordion.active .accordion-image {
    margin-top: 24px;
  }
  body.ribbon-test .testimonial-section {
    padding: 48px 0 1px 0;
  }
  body.ribbon-test .testimonial-section .container {
    padding: 0 20px;
  }
  body.ribbon-test .testimonial-section .container .testimonial-card {
    padding: 30px 19px;
    min-width: auto;
    justify-content: flex-start;
  }
  body.ribbon-test .testimonial-section .container .testimonial-card .testimonial-text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  body.ribbon-test .testimonial-section .container .testimonial-card .testimonial-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  body.ribbon-test .testimonial-section .container .testimonial-card .testimonial-footer .author {
    margin-bottom: 20px;
  }
  body.ribbon-test .testimonial-section .container .testimonial-card .testimonial-footer .author .author-image {
    max-width: 56px;
  }
  body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--prev {
    left: 42.1%;
  }
  body.ribbon-test .testimonial-section .container .splide__arrows .splide__arrow--next {
    right: 29.2%;
  }
  body.ribbon-test .industries {
    padding: 45px 0 48px 0;
  }
  body.ribbon-test .industries .container {
    padding: 0 20px;
  }
  body.ribbon-test .industries .container .industries-title {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
    margin-bottom: 29px;
  }
  body.ribbon-test .industries .container .swiper {
    margin-top: 33px;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper h3 {
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: -0.48px;
    margin-bottom: 18px;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper p {
    margin-bottom: 16px;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper .left-content-wrapper button {
    width: 100%;
    margin-top: 0;
  }
  body.ribbon-test .industries .container .industries-content .industries-content-wrapper .image-wrapper {
    margin-top: 30px;
  }
  body.ribbon-test .contact-us-section {
    padding: 56px 0;
  }
  body.ribbon-test .contact-us-section .container .content-wrapper .image-wrapper {
    margin-bottom: 24px;
  }
  body.ribbon-test .contact-us-section .container .content-wrapper h2 {
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
  }
  body.ribbon-test .about-us-section .container {
    padding: 0 20px;
  }
  body.ribbon-test .about-us-section .container .content-wrapper {
    margin-top: 45px;
  }
  body.ribbon-test .about-us-section .container .content-wrapper .left-content-wrapper h3 {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: -0.64px;
  }
  body.ribbon-test .about-us-section .container .content-wrapper .right-content-wrapper .image-wrapper img {
    border-radius: 10px;
  }
  body.ribbon-test .actions {
    flex-direction: column;
    gap: 8px;
  }
  body.ribbon-test .actions .btn {
    padding: 10px 39px;
  }
}/*# sourceMappingURL=style.css.map */