.gmd-007 {
    .product-info-main {

        .price-label {
            display: none;
        }
    }

    .gmd-shipping-timeline {
        margin-top: 8px;

        .gmd-line-1 {
            color: #000;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .gmd-line-2 {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            display: flex;
            align-items: center;
            gap: 0 8px;

            .gmd-bold-text {
                font-weight: 700;
            }
        }
    }

    @media (max-width: 767px) {
        .product-info-main {
            .gmd-shipping-timeline {
                margin-top: 12px;

                .gmd-line-1 {
                    svg {
                        width: 18px;
                    }
                }

                .gmd-line-2 {
                    font-size: 14px;
                    line-height: 19.6px;
                    margin-top: 4px;
                }
            }
        }
    }
}