body {
    position: relative;

    &.overflow-hidden {
        overflow: hidden;
    }
}

.custom-popup-main {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 111;

    &.show-popup {
        display: block;
    }
}

.custom-popup-inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.20);
}

.custom-popup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.wrapper-container {
    height: 100%;
    overflow: auto;
    max-width: 449px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    border-top: 4px solid #F60;
    background: #FFF;

    .heading-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 16px;
        border-bottom: 1px solid #DFDFDF;

        h5 {
            color: #111827;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
        }

        .close-btn {
            cursor: pointer;
        }
    }

    .content-wrapper {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        gap: 0 25px;

        .product-image-wrapper {
            max-width: 93px;
        }

        h4 {
            color: #111827;
            font-size: 14px;
            font-weight: 600;
            line-height: 18.2px;
            margin-bottom: 10px;
        }

        .product-size-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 5px;

            .size-wrapper,
            .socks-wrapper,
            .name-wrapper,
            .number-wrapper {
                font-size: 12px;
                font-weight: 400;
                line-height: 15.6px;
                margin-bottom: 10px;
                width: 100%;
                display: flex;
                gap: 0 3.5px;

                .title {
                    color: #4B5563;
                }

                .value {
                    color: #111827;
                }

            }

            .size-wrapper,
            .name-wrapper {
                max-width: 38%;
            }

            .socks-wrapper,
            .number-wrapper {
                max-width: 60%;
            }
        }

        .price-wrapper {
            span {
                color: #F81A06;
                font-size: 20px;
                font-weight: 600;
                line-height: 31.43px;
            }
        }
    }

    .action-wrapper {
        padding: 9px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 5px;
        border-top: 1px solid #DFDFDF;

        .continue-shopping {
            cursor: pointer;

            span {
                color: #4B5563;
                font-size: 14px;
                font-weight: 600;
                line-height: 14px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0 8px;

                &::before {
                    content: '';
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="17" viewBox="0 0 11 17" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.13086 0.968442C9.43081 1.26849 9.59932 1.67538 9.59932 2.09964C9.59932 2.5239 9.43081 2.9308 9.13086 3.23084L3.86206 8.49964L9.13086 13.7684C9.42231 14.0702 9.58358 14.4744 9.57994 14.8939C9.57629 15.3134 9.40802 15.7147 9.11137 16.0114C8.81471 16.308 8.41341 16.4763 7.9939 16.4799C7.57438 16.4836 7.17022 16.3223 6.86846 16.0308L0.468458 9.63084C0.168504 9.3308 -2.93101e-07 8.9239 -2.56011e-07 8.49964C-2.18921e-07 8.07538 0.168505 7.66848 0.468458 7.36844L6.86846 0.968442C7.1685 0.668487 7.5754 0.499983 7.99966 0.499983C8.42392 0.499983 8.83081 0.668487 9.13086 0.968442Z" fill="%234B5563"/></svg>');
                    height: 17px;
                    width: 11px;
                }
            }
        }

        .shopping-cart {
            max-width: 218px;
            width: 100%;

            a {
                text-decoration: none;
                padding: 15px 24px;
                width: 100%;
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 8px;
                background: #00B700;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0 16px;

                &::before {
                    content: '';
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M3 1C2.73478 1 2.48043 1.10536 2.29289 1.29289C2.10536 1.48043 2 1.73478 2 2C2 2.26522 2.10536 2.51957 2.29289 2.70711C2.48043 2.89464 2.73478 3 3 3H4.22L4.525 4.222C4.52803 4.23607 4.53136 4.25007 4.535 4.264L5.893 9.694L5 10.586C3.74 11.846 4.632 14 6.414 14H15C15.2652 14 15.5196 13.8946 15.7071 13.7071C15.8946 13.5196 16 13.2652 16 13C16 12.7348 15.8946 12.4804 15.7071 12.2929C15.5196 12.1054 15.2652 12 15 12H6.414L7.414 11H14C14.1857 10.9999 14.3676 10.9481 14.5255 10.8504C14.6834 10.7528 14.811 10.6131 14.894 10.447L17.894 4.447C17.9702 4.29458 18.0061 4.12522 17.9985 3.95501C17.9908 3.78479 17.9398 3.61935 17.8502 3.47439C17.7606 3.32944 17.6355 3.20977 17.4867 3.12674C17.3379 3.04372 17.1704 3.00009 17 3H6.28L5.97 1.757C5.91583 1.54075 5.79095 1.34881 5.61521 1.21166C5.43946 1.0745 5.22293 1.00001 5 1H3ZM16 16.5C16 16.8978 15.842 17.2794 15.5607 17.5607C15.2794 17.842 14.8978 18 14.5 18C14.1022 18 13.7206 17.842 13.4393 17.5607C13.158 17.2794 13 16.8978 13 16.5C13 16.1022 13.158 15.7206 13.4393 15.4393C13.7206 15.158 14.1022 15 14.5 15C14.8978 15 15.2794 15.158 15.5607 15.4393C15.842 15.7206 16 16.1022 16 16.5ZM6.5 18C6.89782 18 7.27936 17.842 7.56066 17.5607C7.84196 17.2794 8 16.8978 8 16.5C8 16.1022 7.84196 15.7206 7.56066 15.4393C7.27936 15.158 6.89782 15 6.5 15C6.10218 15 5.72064 15.158 5.43934 15.4393C5.15804 15.7206 5 16.1022 5 16.5C5 16.8978 5.15804 17.2794 5.43934 17.5607C5.72064 17.842 6.10218 18 6.5 18Z" fill="white"/></svg>');
                    height: 20px;
                    width: 20px;
                }
            }
        }

    }
}

@media (max-width: 767px) {
    .wrapper-container {
        .heading-wrapper {
            padding: 16px 8px 16px 16px;
        }

        .content-wrapper {
            gap: 0 8px;

            .product-image-wrapper {
                max-width: 75px;
            }
        }

        .action-wrapper {

            .continue-shopping {
                span {
                    gap: 0 4px;
                }
            }

            .shopping-cart {
                max-width: 192px;
                width: 100%;

                a {
                    padding: 12px 14px;
                    width: 100%;
                    gap: 0 10px;
                }
            }

        }
    }
}