.gmd-14 .\#product-card-badges,
.gmd-14 .\#media-image,
.gmd-14 .\#media-image-mobile,
.gmd-14 .\#media-image-wrapper,
.gmd-14 .\#media-image-mobile-wrapper,
.gmd-14 .\#media-link,
.gmd-14 .\#media-overlay,
.gmd-14 .\#media-placeholder,
.gmd-14 html.js .\#media-image-loading,
.gmd-14 .\#floating-content-wrapper.\@absolute {
  position: unset;
}
.gmd-14 .\#media.\@type\:ar:before {
  padding-top: 0;
}
.gmd-14 .\#section-body:has(.\#collection-inner) {
  background-color: #fff !important;
}
.gmd-14 .\#product-card.\@image-padding .\#product-card-media {
  margin-top: 0;
  aspect-ratio: unset;
}
.gmd-14 .gmd-super-deal {
  background: #C3C0FC !important;
}
.gmd-14 .gmd-super-deal .\#product-card {
  background: #EEF;
}
.gmd-14 .gmd-super-deal .\#media-image-wrapper {
  background: #DFDDFF;
}
.gmd-14 .gmd-popular {
  background: #CCF4F1 !important;
}
.gmd-14 .gmd-popular .\#product-card {
  background: #F2FFFE;
}
.gmd-14 .gmd-popular .\#media-image-wrapper {
  background: #D8FFFC;
}
.gmd-14 .gmd-popular .swiper-button-prev,
.gmd-14 .gmd-popular .swiper-button-next,
.gmd-14 .gmd-super-deal .swiper-button-prev,
.gmd-14 .gmd-super-deal .swiper-button-next {
  display: none;
}
.gmd-14 .gmd-popular .swiper,
.gmd-14 .gmd-super-deal .swiper {
  padding-left: var(--container-spacer);
  padding-right: var(--container-spacer);
}
.gmd-14 .gmd-popular .swiper-pagination,
.gmd-14 .gmd-super-deal .swiper-pagination {
  display: none;
}
.gmd-14 .gmd-popular .swiper-wrapper,
.gmd-14 .gmd-super-deal .swiper-wrapper {
  align-items: flex-start;
}
.gmd-14 .gmd-popular .\#grid.\@type\:columns,
.gmd-14 .gmd-super-deal .\#grid.\@type\:columns {
  justify-content: center;
  gap: 18px;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .gmd-14 .gmd-popular .\#grid.\@type\:columns,
  .gmd-14 .gmd-super-deal .\#grid.\@type\:columns {
    gap: 14px;
  }
}
@media (max-width: 1023px) {
  .gmd-14 .shopify-section:has(.gmd-popular, .gmd-super-deal):not(:has(.swiper)) {
    display: none;
  }
}
.gmd-14 .\#product-card {
  border: none;
  padding-bottom: 0;
  width: 100%;
  max-width: 256px;
  border-radius: 8px;
}
@media (max-width: 1199px) {
  .gmd-14 .\#product-card {
    max-width: calc(25% - 15.2px);
  }
}
@media (max-width: 1023px) {
  .gmd-14 .\#product-card {
    max-width: 100%;
  }
}
.gmd-14 .\#product-card {
  flex: unset;
}
.gmd-14 .\#product-card .\#media.\@border-radius\:inner {
  border-radius: 8px;
}
.gmd-14 .\#product-card .\#media-image-wrapper .\#media-image {
  border-radius: 8px;
  mix-blend-mode: multiply;
  max-width: 201px;
  max-height: 201px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#media-image-wrapper .\#media-image {
    max-width: 113px;
    max-height: 113px;
  }
}
.gmd-14 .\#product-card .\#product-card-caption {
  align-items: flex-start;
  padding: 16px 20px 18px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-caption {
    padding: 11px 9px;
  }
}
.gmd-14 .\#product-card .\#product-card-badges {
  background-color: unset;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-badges {
    margin-bottom: 3px;
  }
}
.gmd-14 .\#product-card .\#product-card-badge {
  color: #FF14B8;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  font-family: "system_ui", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: unset;
  padding: 0;
  flex-wrap: wrap;
}
.gmd-14 .\#product-card .\#product-card-badge.\@type\:sold-out {
  color: #2F3F23;
}
.gmd-14 .\#product-card .\#product-card-badge .second-half {
  color: #2F3F23;
  margin-left: 4px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-badge .second-half {
    display: none;
  }
}
.gmd-14 .\#product-card .\#product-card-badge .first-half {
  margin-left: 4px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-badge .first-half {
    color: #2F3F23;
    margin-left: 2px;
  }
}
.gmd-14 .\#product-card .\#product-card-rating {
  gap: 6px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-rating {
    margin-bottom: 6px;
  }
}
.gmd-14 .\#product-card .\#product-card-rating-stars {
  gap: 3px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-rating-stars {
    gap: 0;
  }
  .gmd-14 .\#product-card .\#product-card-rating-stars .\#icon {
    height: 15px;
    width: 15px;
  }
}
.gmd-14 .\#product-card .\#product-card-badge.\@type\:sale:before {
  background-image: url("https://cdn.shopify.com/s/files/1/0571/5388/0152/files/Prijzenstorm.NL_Supporting_Graphics_RGB_Bolt_Storm.png?v=1746743554");
  width: 10px;
  height: 16px;
  margin-right: 6px;
}
.gmd-14 .\#product-card .\#product-card-title {
  text-align: left;
  color: #2D1B1B;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.16px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-title {
    font-size: 14px;
    line-height: 17.2px;
  }
}
.gmd-14 .\#product-card .\#product-card-rating-counter,
.gmd-14 .\#product-card .gmd-star-count {
  color: #2D1B1B;
  font-size: 13.251px;
  font-weight: 700;
  line-height: 18.583px;
  opacity: 0.8;
}
.gmd-14 .\#product-card .\#product-card-vendor {
  color: #2D1B1B;
  font-size: 12.5px;
  font-weight: 700;
  line-height: 17.53px;
  margin-bottom: 0;
}
.gmd-14 .\#product-card .\#product-card-price {
  position: relative;
  background-color: unset;
  padding: 0;
  padding-top: 5px;
  overflow: unset;
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@regular.\@on-sale::before {
  color: #2F3F23;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@regular.\@on-sale::before {
    font-size: 14px;
    line-height: 100%;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@on-sale {
  color: #FF14B8 !important;
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  gap: 6px;
  align-items: baseline;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@on-sale {
    font-size: 18px !important;
    line-height: 100%;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@on-sale .\#price-value .dcml {
  font-size: 22px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@on-sale .\#price-value .dcml {
    font-size: 18px;
    line-height: 100%;
  }
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@regular {
    padding: 0;
    justify-content: flex-start;
    width: auto;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare {
  background-color: unset;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare {
    top: 1px;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare:after {
  top: 13px !important;
  background: #979F91 !important;
  height: 1.327px;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare:after {
    top: 9px !important;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare .\#price-value {
  color: #979F91 !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare .\#price-value {
    font-size: 14px;
    line-height: 110%;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare .\#price-value .dcml {
  font-size: 16px;
  font-weight: 600;
  line-height: 110%;
}
@media (max-width: 767px) {
  .gmd-14 .\#product-card .\#product-card-price .\#price-item.\@compare .\#price-value .dcml {
    font-size: 14px;
  }
}
.gmd-14 .\#product-card .\#product-card-price .\#price {
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.gmd-14 .\#product-card .\#product-card-price .\#price::after {
  display: none;
}
.gmd-14 .\#product-card.\@align\:mobile-center .\#product-card-rating {
  margin-left: 0;
}
.gmd-14 .rps-product-container {
  gap: 0;
}
.gmd-14 .rps-product-container .rps-badges-container {
  position: unset !important;
  display: flex;
  gap: 0;
  margin-top: 16px;
  margin-bottom: 6px;
}
.gmd-14 .rps-product-container .rps-badges-container::before {
  content: "";
  display: inline-block;
  background-image: url(https://cdn.shopify.com/s/files/1/0571/5388/0152/files/Prijzenstorm.NL_Supporting_Graphics_RGB_Bolt_Storm.png?v=1746743554);
  width: 10px;
  height: 16px;
  margin-right: 6px;
  background-size: contain;
  background-repeat: no-repeat;
}
.gmd-14 .rps-product-container .rps-product-discount-badge-container {
  color: #FF14B8;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  font-family: "system_ui", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: unset;
  padding: 0;
  flex-wrap: wrap;
}
.gmd-14 .rps-product-container .rps-product-discount-badge-container.\@type\:sold-out {
  color: #2F3F23;
}
.gmd-14 .rps-product-container .second-half {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  color: #2F3F23;
  margin-left: 4px;
}
@media (max-width: 767px) {
  .gmd-14 .rps-product-container .second-half {
    display: none;
  }
}
.gmd-14 .rps-product-container .first-half {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin-left: 4px;
  color: #FF14B8;
  font-weight: 600;
}
@media (max-width: 767px) {
  .gmd-14 .rps-product-container .first-half {
    color: #2F3F23;
    margin-left: 2px;
  }
}
.gmd-14 .rps-product-container .rps-product-vendor {
  color: #2D1B1B;
  font-size: 12.5px;
  font-weight: 700;
  line-height: 17.53px;
  opacity: 0.8;
}
.gmd-14 .rps-product-container .rps-product-title {
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.gmd-14 .rps-product-container .rps-product-stock-badge {
  display: none;
}
.gmd-14 .rps-product-container .rps-prices-container::before {
  content: "Nu! ";
  color: #2F3F23;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
}
@media (max-width: 767px) {
  .gmd-14 .rps-product-container .rps-prices-container::before {
    font-size: 14px;
    line-height: 100%;
  }
}/*# sourceMappingURL=style.css.map */