.gmd-checkout-page {
    #checkout-step-shipping {
        .field {

            ._with-tooltip {
                input {
                    width: 100%;
                }

                .input-wrapper {
                    width: calc(100% - 36px);
                }
            }

            &._error input,
            input.mage-error,
            ._error input:-webkit-autofill {
                border: 1px solid #F57E77;
                background-color: #FDF7F7 !important;
                color: #1F1F1F !important;
                box-shadow: 0 0 0 1000px #FDF7F7 inset;
            }

            div.mage-error,
            .field-error span {
                color: #F57E77;
            }


            .valid-input {
                position: relative;

                &::before {
                    content: '';
                    height: 20px;
                    width: 20px;
                    display: block;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><rect width="20" height="20" rx="10" fill="%2332936F" fill-opacity="0.24"/><path d="M14.473 6.8067C14.411 6.74421 14.3373 6.69461 14.256 6.66077C14.1748 6.62692 14.0876 6.6095 13.9996 6.6095C13.9116 6.6095 13.8245 6.62692 13.7433 6.66077C13.662 6.69461 13.5883 6.74421 13.5263 6.8067L8.55964 11.78L6.47297 9.6867C6.40863 9.62454 6.33267 9.57566 6.24943 9.54286C6.16619 9.51006 6.07731 9.49397 5.98786 9.49552C5.8984 9.49706 5.81013 9.51622 5.72808 9.55188C5.64602 9.58754 5.5718 9.63902 5.50964 9.70336C5.44748 9.76771 5.39861 9.84367 5.3658 9.92691C5.333 10.0101 5.31691 10.099 5.31846 10.1885C5.32001 10.2779 5.33916 10.3662 5.37482 10.4483C5.41049 10.5303 5.46196 10.6045 5.52631 10.6667L8.08631 13.2267C8.14828 13.2892 8.22202 13.3388 8.30326 13.3726C8.3845 13.4065 8.47163 13.4239 8.55964 13.4239C8.64765 13.4239 8.73479 13.4065 8.81603 13.3726C8.89727 13.3388 8.971 13.2892 9.03297 13.2267L14.473 7.7867C14.5406 7.72427 14.5946 7.6485 14.6316 7.56417C14.6685 7.47983 14.6876 7.38876 14.6876 7.2967C14.6876 7.20463 14.6685 7.11356 14.6316 7.02923C14.5946 6.94489 14.5406 6.86912 14.473 6.8067Z" fill="%2332936F"/></svg>');
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 16px;
                }

                .valid,
                .valid:-webkit-autofill {
                    border: 1px solid #F3F3F3;
                    background-color: #F5FBF9 !important;
                    box-shadow: 0 0 0 1000px #F5FBF9 inset !important;
                    padding: 0 4.5rem 0 1.5rem;
                }
            }
        }
    }
}