.gmd-add-accordion {
    .gmd-hide-btn {
        visibility: hidden;
    }

    #wijcbf_category {
        .wijcbf_form_option {
            .icon-wrapper {
                min-width: 48px;
            }

            .gmd-heading-wrapper {
                display: flex;
                align-items: center;
                width: 100%;
            }

            &.selected {
                .gmd-accordion-card {
                    display: flex;
                }

                .gmd-arrow-icon-wrapper {
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }

            .gmd-arrow-icon-wrapper {
                svg {
                    transition: 0.2s ease-in;
                }
            }

            .wijcbf_service_title {
                margin-bottom: 0;
                margin-right: 12px;
            }

            flex-wrap: wrap;
            height: auto;
            padding: 25px 50px;

            .icon.empty,
            .icon.checked {
                display: none;
            }
        }

    }

    .gmd-accordion-card {
        display: none;
        justify-content: space-between;
        align-items: flex-end;
        gap: 9px;
        margin-left: 88px;
        margin-top: 8px;
        width: 100%;

        .gmd-accordion-content {
            flex: 1;
            max-width: 513px;
            width: 100%;

            .gmd-accordion-description {
                color: #3F3F3F;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 12px;
            }

            .gmd-accordion-subtitle {
                color: #3F3F3F;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 6px;
            }

            .gmd-accordion-requirements {
                list-style: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-wrap: wrap;

                gap: 6px 40px;

                li {
                    display: flex;
                    gap: 8px;
                    color: #3F3F3F;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    max-width: 42.985%;
                    width: 100%;

                    svg {
                        max-width: 16px;
                        width: 100%;
                        margin-top: 4px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }


        .gmd-accordion-action {
            display: flex;
            align-items: center;
            max-width: 217px;
            width: 100%;

            .gmd-accordion-btn {
                color: #FFF;
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 215.625%;
                text-transform: uppercase;
                border-radius: 10px;
                background: linear-gradient(0deg, #FF6200 0%, #FF6200 100%), linear-gradient(89deg, #0588F0 16.12%, #0689F1 91.6%);
                width: 100%;
                padding: 8px;
            }
        }
    }
}


@media (max-width: 1080px) {
    .gmd-add-accordion {
        .gmd-accordion-card {
            flex-wrap: wrap;

            .gmd-accordion-content {
                max-width: 100%;
                flex: unset;

                .gmd-accordion-requirements {
                    li {
                        max-width: 100%;
                    }
                }
            }

            .gmd-accordion-action {
                margin: 7px 0;
            }
        }
    }
}

@media (max-width: 820px) {
    .gmd-add-accordion {
        #wijcbf_category {
            .wijcbf_form_option {
                flex-wrap: wrap;
                height: auto;
                padding: 9px 4px;

                .icon-wrapper {
                    min-width: 35px;
                }

                .gmd-arrow-icon-wrapper {
                    margin-right: -2px;
                }
            }

            .wijcbf_service {
                .wijcbf_service_title {
                    font-size: 16px;
                    line-height: 22.4px;
                    margin-top: 0;
                }

                .wijcbf_service_price {
                    margin-right: 0;
                }
            }

        }

        .gmd-accordion-card {
            margin-top: 11px;
            margin-left: 9px;

            .gmd-accordion-action {
                .gmd-accordion-btn {
                    height: auto;
                }
            }
        }
    }
}