.gmd-08 .gmd-size-converter {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid rgba(146, 146, 146, 0.2);
  background: #fff;
}
@media (max-width: 1199px) {
  .gmd-08 .gmd-size-converter {
    padding: 10px 10px;
  }
}
.gmd-08 .gmd-converter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #171717;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.4px;
}
@media (max-width: 749px) {
  .gmd-08 .gmd-converter-header {
    font-size: 13px;
  }
}
.gmd-08 .gmd-chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #181818;
}
.gmd-08 .gmd-converter-row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 30px 40px;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
}
@media (max-width: 749px) {
  .gmd-08 .gmd-converter-row {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 12px 40px;
  }
}
.gmd-08 .gmd-converter-select {
  position: relative;
  width: 100%;
}
.gmd-08 .gmd-select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 45px;
  padding: 0 31px 0 20px;
  border-radius: 8px;
  border: 1px solid #C3C3C3;
  background: #FFF;
  color: #171717;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .gmd-08 .gmd-select {
    padding: 0 31px 0 10px;
  }
}
@media (max-width: 749px) {
  .gmd-08 .gmd-select {
    padding: 0 31px 0 20px;
    font-size: 12px;
  }
}
.gmd-08 .gmd-select:focus {
  outline: none;
  box-shadow: none;
}
.gmd-08 .gmd-converter-select::after {
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none"><g clip-path="url(%23clip0_4408_3686)"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.35463 0.645917C9.30819 0.599354 9.25301 0.562411 9.19226 0.537205C9.13152 0.511998 9.0664 0.499023 9.00063 0.499023C8.93486 0.499023 8.86974 0.511998 8.809 0.537205C8.74825 0.562411 8.69308 0.599354 8.64663 0.645917L5.00063 4.29292L1.35463 0.645917C1.26074 0.552031 1.13341 0.499286 1.00063 0.499286C0.867856 0.499286 0.740518 0.552031 0.646632 0.645917C0.552745 0.739804 0.5 0.867141 0.5 0.999917C0.5 1.13269 0.552745 1.26003 0.646632 1.35392L4.64663 5.35392C4.69308 5.40048 4.74825 5.43742 4.809 5.46263C4.86974 5.48784 4.93486 5.50081 5.00063 5.50081C5.0664 5.50081 5.13152 5.48784 5.19227 5.46263C5.25301 5.43742 5.30819 5.40048 5.35463 5.35392L9.35463 1.35392C9.40119 1.30747 9.43814 1.2523 9.46334 1.19155C9.48855 1.13081 9.50152 1.06568 9.50152 0.999917C9.50152 0.93415 9.48855 0.869029 9.46334 0.808284C9.43814 0.747538 9.40119 0.692363 9.35463 0.645917Z" fill="%23171717"/></g><defs><clipPath id="clip0_4408_3686"><rect width="10" height="6" fill="white"/></clipPath></defs></svg>');
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  pointer-events: none;
}
.gmd-08 .gmd-converter-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  width: 30px;
  height: 66px;
}
@media (max-width: 749px) {
  .gmd-08 .gmd-converter-arrow {
    width: 12px;
  }
}
.gmd-08 .gmd-converter-result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 45px;
  border-radius: 8px;
  border: 1px dashed #C3C3C3;
  background: #FFF;
  color: #171717;
  font-size: 14px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.4px;
}
@media (max-width: 749px) {
  .gmd-08 .gmd-converter-result {
    font-size: 12px;
  }
}
.gmd-08 .gmd-converter-text {
  font-size: 17px;
  line-height: 1.5;
}
.gmd-08 .gmd-question,
.gmd-08 .gmd-fitfinder {
  color: #171717;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.4px;
}
.gmd-08 .gmd-fitfinder-link {
  cursor: pointer;
  color: #171717;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.gmd-08 .gmd-fitfinder-overlay {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.6);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.gmd-08 .gmd-fitfinder-overlay.is-fitfinder-open {
  opacity: 1;
  visibility: visible;
}
.gmd-08 .gmd-fitfinder-overlay.is-fitfinder-open .gmd-fitfinder-box {
  transform: scale(1);
}
.gmd-08 .gmd-fitfinder-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 40px 15px;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .gmd-08 .gmd-fitfinder-inner {
    padding: 20px 15px;
  }
}
.gmd-08 .gmd-fitfinder-box {
  background: #fff;
  width: 100%;
  max-width: 780px;
  height: auto;
  min-height: unset;
  overflow-y: auto;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
.gmd-08 .gmd-fitfinder-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 767px) {
  .gmd-08 .gmd-fitfinder-close {
    top: 10px;
    right: 10px;
  }
}
.gmd-08 .gmd-fitfinder-body {
  min-height: 600px;
}
.gmd-08 .gmd-fitfinder-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  color: #171717;
  font-size: 1.6rem;
}
.gmd-08 .gmd-fitfinder-error {
  padding: 60px 20px;
  text-align: center;
  color: #171717;
  font-size: 1.6rem;
}
.gmd-08 .gmd-fitfinder-body .fit-finder {
  width: 100%;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid {
  min-height: 600px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid .grid__item:not(:has(fit-finder)),
.gmd-08 .gmd-fitfinder-body .fit-finder .grid .grid__item .explainer {
  display: none !important;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid .gmd-step-image {
  max-width: 608px;
  margin: 20px auto 20px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder {
  padding-bottom: 32px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .h1 {
  color: #D4311F;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  /* 162.5% */
  margin: 0;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="1"] .h1 {
  margin: 0 0 10px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .h1 + p {
  color: #171717;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 166.667% */
  margin: 0 auto;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder p .mob-only {
  display: none;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .fields {
  margin-top: 17px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .options {
  margin-top: 20px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="2"],
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="3"],
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="4"],
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] {
  margin-top: 40px;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder h1.size {
  margin: 20px 0;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder fit-finder-form {
  display: block !important;
}
.gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .buttons .button {
  padding: 10px;
}
@media (max-width: 749.98px) {
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder {
    padding: 60px 0 32px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .gmd-step-image {
    margin: 0 0 20px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .gmd-step-image img {
    border-radius: 0 !important;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .h1 {
    font-size: 24px;
    line-height: 120%;
    /* 28.8px */
    margin: 10px 0 20px !important;
    padding: 0 12px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .h1 + p {
    font-size: 15px;
    line-height: 25px;
    /* 166.667% */
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder h1.size {
    margin: 0 0 20px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder p .mob-only {
    display: block;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .buttons {
    margin-top: 30px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .fields,
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .buttons,
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder .options {
    padding: 0 16px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="3"] .options label {
    height: auto;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="2"],
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="3"],
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="4"],
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] {
    margin-top: 0;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] {
    padding: 0 16px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] .fitfinder_advantages > div {
    padding: 10px 12.5px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] fit-finder-form {
    width: 100%;
    padding: 10px 0 0;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] fit-finder-form .fields {
    padding: 0;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] fit-finder-form .buttons {
    margin-top: 22px;
  }
  .gmd-08 .gmd-fitfinder-body .fit-finder .grid fit-finder [data-step="5"] fit-finder-form .buttons .button {
    width: 174px;
  }
}/*# sourceMappingURL=style.css.map */