.gmd-07 {

    .columns {
        .product-info-main {
            padding-bottom: 0;

            .gmd-accordion {

                @media (max-width: 767px) {
                    margin: 0 -24px;
                }

                .old-heading-wrapper {
                    display: none;
                }

                .gmd-accordion-tab {
                    padding: 24px;
                    display: block !important;
                    border-radius: 3px;
                    border-top: 1px solid #E7E7E7;
                    border-bottom: 1px solid #E7E7E7;
                    background: #FFF;

                    .gmd-heading {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        color: #000;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 40px;
                        transition: background 0.2s ease;
                    }

                    .gmd-accordion-icon {
                        padding: 0 10px 0 3px;

                        svg {
                            transition: transform 0.3s ease;
                        }

                        @media (max-width: 767px) {
                            padding: 0;
                        }
                    }

                    >div {
                        display: none;
                    }

                    &.gmd-active {
                        >div {
                            display: block;
                        }

                        .gmd-accordion-icon {
                            svg {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    #shopper_review_page,
                    .answerbase-widget,
                    div[x-ref="description"] {
                        padding: 0 !important;
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        margin-top: 6px !important;
                    }

                    .video-container {
                        margin-top: 6px !important;
                    }

                    .video-description,
                    #review_header {
                        padding: 0 !important;
                    }

                    #ab-shopperapproved {
                        text-align: right;
                    }

                    #ab-shopperapproved-logo {
                        float: none !important;
                    }
                }
            }
        }
    }
}