.gmd-46 {

    #header_usp {
        gap: 10px !important;

        a {
            font-size: 12px;
            line-height: 24px;
        }
    }

    #mobileCategoryNav {
        .nav-item {

            &[title="Acties"],
            &[title="Kenniscentrum"],
            &[title="Inspiratie"],
            &[title="Showroom"],
            &[title="Maak een afspraak"],
            &[title="Zakelijk"],
            &[title="Klantenservice"] {
                display: none !important;
            }
        }
    }

    .gmd-header-links {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-left: auto;

        p {
            margin: 0 !important;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .container-fluid {
        &:has(#header_menu) {
            position: relative;
        }
    }

    #header_menu {
        .col-6 {
            .mb-0.d-inline-block.mr-1 {
                display: none !important;
            }
        }

        .col-6.text-right {
            display: none;
        }

        .main-container {
            .col-6 {
                width: 100%;
                max-width: 100%;
                flex: unset;
                padding: 0;
            }
        }
    }

    .gmd-menu-wrapper {
        background: #fff;
        position: absolute;
        z-index: 999;
        top: 100%;
        width: 100%;

        .gmd-menu-overlay {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, .25);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity .25s ease;
            z-index: -1;
        }

        &.is-open {
            .gmd-menu-overlay {
                opacity: 1;
                visibility: visible;
            }

            .gmd-sub-panel-container {
                display: block;
            }
        }
    }

    .gmd-sub-panel-container {
        display: none;
    }

    .gmd-cat-row {
        display: inline-flex;
        align-items: center;
        gap: 8px 0;
        justify-content: space-between;
        width: 100%;
        // padding: 12px 0;

        a {
            margin-right: 0 !important;
            font-size: 16px;
            font-weight: 600;
            line-height: 27.2px;
            padding: 12px 8px;

            &:hover {
                background: #FFF;
            }

            @media (max-width: 1500px) {
                font-size: 15px;
            }

            @media (max-width: 1299px) {
                font-size: 13px;
            }
        }
    }

    .gmd-sub-panel-container {
        background: #fff;
        padding: 20px 0;

        .category_menu_sub_cat {
            display: none !important;

            &.is-active {
                display: flex !important;
            }
        }
    }

    // @media (max-width: 1199.98px) {
    //     .category_menu_cat img {
    //         display: none !important;
    //     }
    // }
}