.gmd-02 {

    .gmd-active-ats {
        &#ShopifyChat {
            bottom: 210px !important;
        }

        &#smile-ui-lite-launcher-frame-container,
        &#CookiebotWidget {
            bottom: 140px !important;
        }

        &.styles_StickyWidget__ {
            bottom: 320px;
        }
    }

    .\#footer {
        margin-bottom: -10px;
    }

    // #main {
    .gmd-sticky-ats-wrapper {
        display: none;
        width: 100%;
        position: sticky;
        bottom: 0;
        z-index: 11;
        border-radius: 10px 10px 0 0;
        background: #FFF;
        box-shadow: 0 -12px 20px 0 rgba(0, 0, 0, 0.10);

        &.gmd-active {
            display: block;
        }

        .gmd-ats-container {
            padding: 24px 34px 12.5px;
            max-width: 1440px;
            width: 100%;
            margin: 0 auto;
        }

        .gmd-ats-content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding: 24px 35px 12px;
            // max-width: 1440px;
            // width: 100%;
            margin: 0 auto;
            gap: 0 24px;

            .gmd-left-wrapper {
                display: flex;
                gap: 0 15px;
                width: 100%;

                .gmd-image-wrapper {
                    max-width: 51px;
                    min-width: 51px;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .gmd-text-wrapper {
                    // max-width: 730px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0 16px;

                    .gmd-product-info-wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .gmd-product-name {
                            font-family: Inter;
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 28.8px;
                        }

                    }

                    .gmd-price-stock-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .gmd-price {
                            .\#product-price {
                                .\#price {
                                    flex-wrap: nowrap;
                                    gap: 0 8px;
                                }

                                .\#price-item.\@regular {
                                    font-size: 36px !important;
                                    line-height: 35px;

                                    .dcml {
                                        margin-left: 5px;
                                    }
                                }

                                .\#price-item.\@on-sale {
                                    padding: 6px 4px;
                                    font-size: 36px !important;
                                    line-height: 35px;
                                    border-radius: 5px !important;
                                    margin-left: 0;

                                    .dcml {
                                        margin-left: 5px;
                                    }
                                }

                                .\#price-item.\@compare {
                                    top: 0;
                                    background: transparent;
                                    padding: 0;
                                    overflow: unset;

                                    &:after {
                                        height: 1.154px;
                                        top: 6px;
                                    }

                                    .\#price-value {
                                        font-size: 17.304px !important;
                                        line-height: 17.304px;
                                        color: #ff00b7 !important;

                                        .dcml {
                                            font-size: 10.382px;
                                            font-weight: 700;
                                            line-height: 10.382px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .gmd-quantity-buy-btn-wrapper {
                max-width: 507px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 14px;

                .gmd-input-quantity-wrapper {
                    display: flex;
                    align-items: center;
                    border: 1px solid #2F3F23;
                    border-radius: 50px;
                    overflow: hidden;

                    .gmd-qty-minus,
                    .gmd-qty-plus {
                        border: none;
                        background: transparent;
                        cursor: pointer;
                        color: #000;
                        text-align: center;
                        font-family: Arial;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .gmd-qty-minus {
                        padding-left: 15.7px;
                        padding-right: 10.49px;
                    }

                    .gmd-qty-plus {
                        padding-right: 15.7px;
                        padding-left: 10.49px;
                    }

                    input {
                        padding: 7.5px;
                        border: none;
                        border-right: 1px solid #2F3F23;
                        border-left: 1px solid #2F3F23;
                        background: #FFF;
                        color: #000;
                        text-align: center;
                        font-family: Arial;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        max-width: 80px;
                        min-width: 80px;
                        width: 100%;
                        -moz-appearance: textfield;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &:hover,
                        &:focus,
                        &:active,
                        &:focus-visible,
                        &:focus-within,
                        &:target {
                            border: none;
                            border-right: 1px solid #2F3F23;
                            border-left: 1px solid #2F3F23;
                            box-shadow: none;
                            outline: none;
                        }
                    }
                }

                .gmd-btn-wrapper {
                    max-width: 327px;
                    width: 100%;

                    .gmd-buy-now-btn {
                        padding: 10px;
                        border-radius: 10px;
                        background: #2F3F23;
                        border: none;
                        width: 100%;
                        color: #FFF;
                        text-align: center;
                        font-family: Inter;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 30px;
                        display: flex;
                        justify-content: center;
                        gap: 15px;
                        position: relative;
                        cursor: pointer;

                        &.gmd-mobile {
                            display: none;
                        }

                        img {
                            max-width: 30px;
                            min-width: 30px;
                            width: 100%;
                        }
                    }
                }
            }

        }

        .gmd-discount-line {
            color: #000;
            text-align: center;
            margin-left: auto;
            margin-top: 2px;
            font-family: Inter;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 14px;
            width: fit-content;
        }

    }
}

@media (max-width: 1149px) {
    .gmd-02 {

        // #main {
        .gmd-sticky-ats-wrapper {
            .gmd-ats-content-wrapper {
                flex-wrap: wrap;
            }
        }

        .gmd-active-ats {
            &#ShopifyChat {
                bottom: 240px !important;
            }

            &#smile-ui-lite-launcher-frame-container,
            &#CookiebotWidget {
                bottom: 190px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .gmd-02 {
        .gmd-sticky-ats-wrapper {
            .gmd-ats-container {
                padding: 16px 24px;
            }

            .gmd-ats-content-wrapper {
                gap: 12px 0;

                .gmd-left-wrapper {
                    width: 100%;

                    .gmd-image-wrapper {
                        display: none;
                    }

                    .gmd-text-wrapper {
                        flex-wrap: wrap;
                        gap: 8px 0;
                        justify-content: center;

                        .gmd-product-info-wrapper {
                            justify-content: center;

                            .gmd-product-name {
                                font-size: 14px;
                                line-height: 16.8px;
                            }
                        }

                        .gmd-price-stock-wrapper {
                            display: block;

                            .gmd-price {
                                .\#product-price {
                                    .\#price {
                                        gap: 0 10px;
                                    }

                                    .\#price-item.\@regular {
                                        font-size: 22px !important;
                                        line-height: 24px;

                                        .dcml {
                                            font-size: 14px;
                                            line-height: 14px;
                                        }
                                    }

                                    .\#price-item.\@on-sale {
                                        padding: 4px 9px 4px 4px;
                                        font-size: 22px !important;
                                        line-height: 24px;

                                        .dcml {
                                            font-size: 14px;
                                            line-height: 14px;
                                        }
                                    }

                                    .\#price-item.\@compare {

                                        .\#price-value {
                                            font-size: 15.3px !important;
                                            line-height: 17.304px;

                                            .dcml {
                                                font-size: 10.382px;
                                                font-weight: 700;
                                                line-height: 10.382px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .gmd-quantity-buy-btn-wrapper {
                    justify-content: center;
                    max-width: 100%;
                    gap: 0 10px;

                    .gmd-input-quantity-wrapper {
                        max-width: 116.6px;
                        width: 100%;

                        input {
                            padding: 12.7px 0;
                            min-width: 35px;
                            max-width: none;
                        }
                    }

                    .gmd-btn-wrapper {
                        max-width: 250px;
                        min-width: auto;

                        .gmd-buy-now-btn {
                            font-size: 16px;
                            line-height: 30px;
                            gap: 8px;
                            padding: 9px;

                            &.gmd-mobile {
                                display: flex;
                            }

                            &.gmd-desktop {
                                display: none;
                            }


                            img {
                                max-width: 20px;
                                min-width: 20px;
                            }
                        }
                    }
                }

            }

            .gmd-discount-line {
                margin-right: auto;
                margin-top: 7px;
            }
        }

    }
}