.gmd-02 {

    #cro_sticky_buy {
        display: none;
    }

    .gmd-active-ats {
        &#chat-button {
            bottom: 150px !important;
        }

        &.whatsapp {
            bottom: 80px !important;
        }
    }

    .gmd-sticky-ats-wrapper {
        display: none;
        width: 100%;
        position: sticky;
        bottom: 0;
        z-index: 40;
        background: #FFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

        &.gmd-active {
            display: block;
        }

        .gmd-ats-container {
            padding: 10px 20px;
            max-width: 1305px;
            width: 100%;
            margin: 0 auto;
        }

        .gmd-ats-content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            gap: 5px 50px;
            padding-right: 26px;

            .gmd-left-wrapper {
                display: flex;
                gap: 0 15px;
                width: 100%;
                min-width: 0;

                .gmd-text-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 0 16px;

                    .gmd-product-info-wrapper {
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;

                        .gmd-product-name {
                            color: #000;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 200%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .gmd-feature-bar {
                            display: flex;
                            justify-content: space-between;
                            gap: 10px;
                            max-width: 526px;
                            width: 100%;

                            .gmd-feature-item {
                                display: flex;
                                align-items: center;
                                gap: 8px;

                                .gmd-feature-text {
                                    color: #000;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 200%;
                                }
                            }
                        }
                    }

                    .gmd-price-stock-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .gmd-price {
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 116.667%;
                        }
                    }
                }
            }

            .gmd-btn-wrapper {
                max-width: 341.5px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 9.5px;

                button {
                    padding: 10px 16px;
                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
                    transition-duration: .5s;
                    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

                    &.gmd-buy-now-btn {
                        border-radius: 4px;
                        border: 1px solid #E5E7EB;
                        background: #FA6560;
                        display: flex;
                        gap: 16px;
                        text-transform: uppercase;

                        &:hover {
                            background: #d96565;
                        }
                    }

                    &.gmd-add-to-cart-btn {
                        border-radius: 4px;
                        border: 1px solid #E5E7EB;
                        background: #4C74CD;

                        &:hover {
                            background: #f77268;
                        }
                    }

                    .gmd-btn-text {
                        color: #FFF;
                        text-align: center;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 155.556%;
                    }
                }
            }

        }
    }
}

@media (max-width: 1149px) {
    .gmd-02 {

        .gmd-sticky-ats-wrapper {
            .gmd-ats-content-wrapper {
                flex-wrap: wrap;
                padding-right: 0;
            }
        }

        .gmd-active-ats {
            &#chat-button {
                bottom: 205px !important;
            }

            &.whatsapp {
                bottom: 135px !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .gmd-02 {
        .gmd-active-ats {

            &#chat-button {
                bottom: 130px !important;
            }

            &.whatsapp {
                bottom: 70px !important;
            }
        }

        .gmd-sticky-ats-wrapper {
            .gmd-ats-container {
                padding: 15px 15px 15px 20px;
            }

            .gmd-ats-content-wrapper {
                gap: 12px 0;
                flex-wrap: nowrap;

                .gmd-left-wrapper {
                    width: auto;

                    .gmd-text-wrapper {
                        gap: 8px;

                        .gmd-product-info-wrapper {
                            display: none;
                        }

                        .gmd-price-stock-wrapper {
                            .gmd-price {
                                font-size: 18px;
                                line-height: 155.556%;
                            }
                        }
                    }
                }

                .gmd-btn-wrapper {
                    max-width: 240px;
                    min-width: auto;

                    button {
                        padding: 5px 9.7px;

                        .gmd-btn-text {
                            font-size: 16px;
                            line-height: 175%;
                        }

                        picture {
                            display: none;
                        }
                    }
                }

            }
        }

    }
}