.gmd-06-v2 {
    &.gmd-faceted-search {
        .kuSearchResultsPageContainer .kuResults ul {
            padding: 0 !important;
        }
    }

    &.search-index-index {
        .kuSearchResultsPageContainer .kuResults ul {
            padding: 0 5px 0 3px !important;
            gap: 11px 16px;

            @media (max-width: 767px) {
                gap: 7px 14px;
                padding: 0 !important;
            }

            li {
                max-width: calc(33.33% - 11px);

                @media (max-width:1023px) {
                    max-width: calc(50% - 8px);
                }

                @media (max-width:991px) {
                    max-width: calc(50% - 13px);
                }

                @media (max-width:767px) {
                    max-width: calc(50% - 7px);
                }
            }
        }
    }

    &.catalog-category-view .tooltiptext.icontext,
    &.search-index-index .tooltiptext.icontext {
        z-index: 1;
    }

    #gmd-stripe-modal {
        display: none;

        &.active {
            display: block;
        }
    }


    .kuSearchResultsPageContainer {
        .kuResults {
            @media (max-width: 767px) {
                margin-top: 24px;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;
                padding: 0 5px 0 3px !important;
                gap: 11px 36px;

                @media (max-width:1199px) {
                    gap: 5px 25px;
                }

                li {
                    // max-width: 30.838%;
                    max-width: calc(33.33% - 24px);

                    @media (max-width:1199px) {
                        max-width: calc(33.33% - 17px);
                    }

                    @media (max-width:1023px) {
                        max-width: calc(50% - 17px);
                    }

                    @media (max-width:991px) {
                        max-width: calc(50% - 13px);
                    }

                    .kuName {
                        margin-bottom: 2px;

                        a {
                            color: #000;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 23.4px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            /* limit to 2 lines */
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .kuPrice {
                        .kuSalePrice.kuSpecialPrice {
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }

                    .gmd-usp-wrapper {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        margin-top: 10px;

                        .mobile {
                            display: none;
                        }

                        .gmd-usp-text {
                            color: #000;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28px;
                        }
                    }

                    .gmd-btn-wrapper {
                        margin-top: auto;
                    }

                    .gmd-add-to-cart-btn,
                    .gmd-buy-now-btn {
                        button {
                            width: 100%;
                            padding: 5px;
                            border-radius: 4px;
                            background: #4C74CD;
                            color: #FFF;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 30px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            cursor: pointer;
                            margin-top: 16px;
                            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
                            transition-duration: .5s;
                            transition-timing-function: cubic-bezier(.4, 0, .2, 1);

                            &:hover {
                                background: #f77268;
                            }
                        }
                    }

                    .gmd-add-to-cart-btn {
                        button {
                            background: rgba(255, 255, 255, 0.00);
                            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
                            color: #000;
                            border: 1px solid #000;
                            text-transform: none;
                            margin-top: 8px;

                            &:hover {
                                background: rgba(255, 255, 255, 0.00);
                            }
                        }
                    }

                    .gmd-view-details-link {
                        color: #4C74CD;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-top: 8px;
                        display: inline-block;

                        &:hover {
                            text-decoration: underline;

                        }
                    }

                    .kuProdWrap {
                        height: 100%;
                        box-shadow: 0 3.1px 23.247px 0 rgba(0, 0, 0, 0.15);
                        border-radius: 8px;

                        footer {
                            height: 100%;
                        }

                        .kuProdBottom {
                            padding: 24px;
                            // padding-top: 88px;
                            padding-bottom: 13px;
                            height: 100% !important;
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    .gmd-review-wrapper {
                        .kuResourceLoader {
                            width: 1em;
                            height: 1em;
                            top: -32px;
                            margin: 15px auto;

                            &::before {
                                left: -1.5em;
                                width: 1em;
                                height: 1em;
                            }

                            &::after {
                                left: 1.5em;
                                width: 1em;
                                height: 1em;
                            }
                        }
                    }

                    .stars-container {
                        display: flex;
                        gap: 2px;
                        margin-bottom: 18px;

                    }

                    .star::before {
                        content: "★";
                        display: block;
                        text-align: center;
                        color: #e86606;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 24px;
                        width: 24px;
                    }

                    .star-half::before {
                        content: "★";
                        background: linear-gradient(90deg, #e86606 50%, #e0e0e0 0);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: #0000;
                        color: #d0d0d0;
                    }
                }
            }
        }
    }

    .kuResultContent {
        .kuProdBottom {
            >.iconblock {
                // top: 24px;
                // left: 24px;
                position: relative;
                width: fit-content;
                margin-bottom: 17px;
                right: auto;
                bottom: auto;

                .file_info {
                    width: 44px;
                    height: 48px;
                    background-size: cover;
                    display: inline-block;
                }
            }
        }
    }

    // @media (max-width: 1023px) {
    //     .kuSearchResultsPageContainer {
    //         .kuResults {
    //             ul {
    //                 li {
    //                     max-width: 48.338%;
    //                 }
    //             }
    //         }
    //     }
    // }

    @media (max-width: 767px) {
        .kuSearchResultsPageContainer {
            .kuResults {
                ul {
                    padding: 0 !important;
                    gap: 0 14px;

                    li {
                        max-width: calc(50% - 7px);
                        text-align: center;

                        &:nth-child(odd) {
                            .tooltiptext.icontext {
                                left: 40px;
                            }
                        }

                        .kuName {

                            a {
                                font-size: 14px;
                                line-height: 18.2px;
                                margin-bottom: 0;
                            }
                        }

                        .kuProdWrap {
                            border-radius: 4px;

                            footer {
                                margin-top: 0;
                                height: auto;
                            }

                            .kuProdBottom {
                                padding: 12px;
                                // padding-top: 44px;
                            }
                        }

                        .kuPrice {
                            justify-content: center;

                            .kuSalePrice.kuSpecialPrice {
                                font-size: 18px;
                            }
                        }

                        .gmd-usp-wrapper {
                            gap: 4px;
                            margin-top: 7px;
                            justify-content: center;

                            .desktop {
                                display: none;
                            }

                            .mobile {
                                display: block;
                            }

                            .gmd-usp-text {
                                font-size: 12px;
                                line-height: 28px;
                            }
                        }

                        .gmd-btn-wrapper {
                            margin-top: unset;
                        }

                        .gmd-add-to-cart-btn,
                        .gmd-buy-now-btn {
                            button {
                                font-size: 14px;
                                line-height: 30px;
                                letter-spacing: 0;
                                padding: 3px;
                                margin-top: 10px;
                            }
                        }

                        .gmd-view-details-link {
                            font-size: 13px;
                        }

                        .stars-container {
                            justify-content: center;
                            gap: 0;
                            margin-bottom: 11px;

                        }

                        .star::before {
                            font-size: 20px;
                            line-height: 24px;
                            width: 20px;
                        }
                    }
                }
            }
        }

        .kuResultContent {
            .kuProdBottom {
                >.iconblock {
                    margin: 0 auto;
                    margin-bottom: 10px;

                    .file_info {
                        width: 33px;
                        height: 36px;
                    }
                }
            }
        }
    }

}