.gmd-06 {
    #custom-sticky-atc {
        display: none !important;
    }

    .gmd-active-ats {

        &#launcher,
        &#to-top,
        &.cky-revisit-bottom-left {
            bottom: 100px !important;

            @media(max-width: 767px) {
                bottom: 150px !important;
            }
        }

        bottom: 180px !important;

        @media(max-width: 767px) {
            bottom: 230px !important;
        }
    }

    .gmd-sticky-ats-wrapper {
        display: none;
        width: 100%;
        position: sticky;
        bottom: 0;
        z-index: 40;
        background: #FFF;
        box-shadow: 0 -2px 54px 0 rgba(0, 0, 0, 0.10);

        &.gmd-active {
            display: block;
        }

        .woocommerce-Price-currencySymbol {
            display: none;
        }

        .gmd-ats-container {
            padding: 12px;
            // max-width: 1440px;
            row-gap: 0;
            width: 100%;
            margin: 0 auto;

            @media (max-width: 991px) {
                padding: 12px 20px;
            }

            @media (max-width: 767px) {
                padding: 12px 16px 8px;
            }
        }

        .gmd-ats-content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;

            .gmd-product-wrapper {
                display: flex;
                align-items: center;
                // gap: 8px 16px;
                width: 100%;
                min-width: 0;

                @media(max-width: 767px) {
                    flex-direction: column-reverse;
                    gap: 6px;
                }

                .image-wrapper {
                    margin-right: 15px;
                    max-width: 80px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 1021px) {
                        margin-right: 10px;
                    }

                    @media(max-width: 767px) {
                        display: none;
                    }

                    img {
                        min-height: 80px;
                        object-fit: cover;
                    }
                }

                .gmd-text-wrapper {
                    overflow: hidden;
                    margin-right: 25px;
                    width: 100%;

                    @media (max-width: 1021px) {
                        margin-right: 12px;
                    }

                    @media(max-width: 767px) {
                        margin-right: 0;
                        flex: 1;
                    }

                    .gmd-product-info-wrapper {
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;

                        .gmd-product-name {
                            color: #111827;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 22.4px;
                            /* 124.444% */
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 7px;

                            @media(max-width: 767px) {
                                display: none;
                            }
                        }

                        .gmd-product-usp {
                            color: #002C4B;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 19.5px;
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            @media (max-width: 767px) {
                                justify-content: center;
                                font-size: 12px;
                                line-height: 100%;
                            }
                        }
                    }

                }

                .gmd-price-stock-wrapper {
                    @media (max-width: 767px) {
                        display: none;
                    }

                    .gmd-price {
                        color: #2EB6ED;
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 32px;
                        margin-right: 34px;

                        @media (max-width: 1021px) {
                            margin-right: 0;
                        }

                        .price-container:nth-of-type(2) {
                            display: none;
                        }

                        .basepricecustom,
                        .op-voorraad-desktop,
                        .per-set {
                            display: none;
                        }

                        .price {
                            display: flex;
                            font-size: 26px !important;
                            line-height: 32px;

                            @media (max-width: 1021px) {
                                font-size: 25px !important;

                                .line-through {
                                    padding-left: 10px;
                                }
                            }
                        }


                        @media (max-width: 991px) {
                            font-size: 20px;
                        }
                    }
                }
            }

            .gmd-btn-wrapper {
                max-width: 272px;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                @media(max-width: 767px) {
                    max-width: 100%;
                }

                #product-addtocart-button {
                    height: 54px;
                    margin: 0;
                    padding: 8px 24px;
                    justify-content: center;
                    width: 100%;

                    @media (max-width: 767px) {
                        height: 45px;
                    }

                    svg {
                        height: auto;
                        width: auto;

                        @media (max-width: 767px) {
                            height: 20px;
                            width: 20px;
                        }
                    }

                    span {
                        @media (max-width: 767px) {
                            &.lg\:block {
                                margin-left: 10px;
                            }
                        }

                        .text-4 {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 18px;

                            @media (max-width: 991px) {
                                font-size: 16px;
                            }

                            @media (max-width: 767px) {
                                font-size: 14px;
                                line-height: 100%;
                            }
                        }

                        .lg\:block {
                            display: block;
                        }

                        .lg\:hidden {
                            display: none;
                        }

                        display: block;
                    }
                }
            }

        }
    }

    .page-footer {
        margin-bottom: 110px;

        @media (max-width: 1021px) {
            margin-bottom: 120px;
        }
    }
}